:root {
  --primary-color: rgb(220, 65, 35);
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
body {
  margin: 0;
  max-width: auto;
}

.navbar-custom {
  background-color: white;
  box-shadow: var(--box-shadow);
}
.navbar-brand {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: white;
}
.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: white;
}
h1 {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  text-transform: uppercase;

  color: #dc4123;

  mix-blend-mode: darken;
}
h2 {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 61px;
  text-transform: uppercase;

  color: #dc4123;

  mix-blend-mode: darken;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;

  color: rgba(0, 0, 0, 0.8);
}
p,
.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 35px;
  color: black;
  margin-top: 20px;
}
.email {
  color: var(--primary-color);
}
.email:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
img {
  border-radius: 34px;
  max-width: 100%;
}

.photo-profile {
  clip-path: circle(50% at 50% 50%);
}
.photo-contact {
  max-height: 80%;
}

.photo-research {
  max-height: 70%;
}
.container {
  margin-top: 150px;
}
button {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  text-transform: uppercase;
}
.button-icon {
  border-radius: 100%;

  display: inline;
  margin: auto;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.button-text {
  border-radius: 34px;
  padding: 10px 20px;
  display: block;
  margin: auto;
}

hr {
  margin-top: 140px;
}
.footer {
  font-family: "roboto";
  font-style: normal;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}
.title {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}
.contact-text {
  margin-top: 30px;
}
.title-research {
  margin-top: 30px;
}
